:root {
    --main-bg-color: #0f1c2e;
    --dark-accent: #1d3557;
    --highlight-color: #284b7b;
    --accent-color: #457b9d;
    --light-accent: #e2f3f3;
    --dark-gray: #28282a;
    --gray: #bfd3c1;
    --light-gray: #f1faee;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
}
